div{
    border:1px solid black;
    padding:1em;
    position:fixed;
    top:20px;
    width:200px;
    height:100px;
}

#capa1{
    left:50px;
    z-index: 1;
    background-color: yellow;
}

#capa2{
    left:400px;
}